

#scrollLeft{
  position: absolute;
  z-index: 99;
  margin-left: 25px;
  top: 50%;
  transform: translateY(-50%);

}

#scrollRight{
  right: 0px;
  position: absolute;
  z-index: 99;
  margin-right: 25px;
  top: 50%;
  transform: translateY(-50%);

}


.btn-custom  {
    border: none !important;
    box-shadow: none !important;
    outline: none !important; 
    border-radius: 50%;

    svg {
      width: 50px;
      height: 50px;
      padding: 10px;
      backdrop-filter: blur(2px);
      border-radius: 50%;
      background-color: rgba(154, 154, 154, 0.5);
      transition: 0.5s;
  }

    svg:hover {
    transition: 1s;
    background-color: rgba(196, 193, 193, 0.5);
  }
  
    svg:active {
    transition: 0.5s;
    background-color: rgba(66, 66, 66, 0.5);
  }
}

  #Icon-Color {
    transition: 0.3s;
    fill: rgba(0, 0, 0, 0.3);
    
  }

  .btn-custom svg:hover {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;

  }

  .btn-custom svg:active {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    transition: 0.8s;
  }

  .btn-custom svg:hover #Icon-Color {
    fill: rgba(53, 53, 53, 0.863);
  }

  .btn-custom svg:active #Icon-Color {
    fill: rgba(0, 0, 0, 0.5);
  }